<div class="modal hide" id="popUpWindow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h3>Add a new event</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>DATA</th>
                            <th>VALUES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ID</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>GROUPE SANGUIN</td>
                            <td>8850</td>
                        </tr>
                        <tr>
                            <td>ETAT</td>
                            <td>5670</td>
                        </tr>
                        <tr>
                            <td>MALADIE CHRONIQUE</td>
                            <td>4130</td>
                        </tr>
                        <tr>
                            <td>TAILLE</td>
                            <td>1574</td>
                        </tr>
                        <tr>
                            <td>POIDS</td>
                            <td>1044</td>
                        </tr>
                        <tr>
                            <td>INTERVENTION</td>
                            <td>1044</td>
                        </tr>
                        <tr>
                            <td>PAYS CHIRURGIE</td>
                            <td>1044</td>
                        </tr>
                        <tr>
                            <td>NOM DE MEDICAMENT</td>
                            <td>1044</td>
                        </tr>
                        <tr>
                            <td>MALADIE RELATIVE</td>
                            <td>1044</td>
                        </tr>
                        <tr>
                            <td>LIMITE PAR SANTE</td>
                            <td>1044</td>
                        </tr>
                        <tr>
                            <td>LIMITE DU TEMPS</td>
                            <td>1044</td>
                        </tr>
                        <tr>
                            <td>CHIRURGIE</td>
                            <td>1044</td>
                        </tr>
                        <tr>
                            <td>CHOSE PORTER</td>
                            <td>1044</td>
                        </tr>
                        <tr>
                            <td>TRAITEMENT MEDICAL</td>
                            <td>1044</td>
                        </tr>
                        <tr>
                            <td>FREQUENCE DE MALADIE</td>
                            <td>1044</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn pull-left" data-dismiss="modal">Supprimer</button>
                <button class="btn pull-right" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
