{% extends 'base.html.twig' %}

{% block content %}
<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Accueil</a></div>
    </div>

    <div class="container-fluid">
        <div class="quick-actions_homepage">PAGE D'ACCUEIL</div>
    </div>
</div>
{% endblock %}
