<div class="modal hide" id="popUpWindow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h3>Add a new event</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>DATA</th>
                            <th>VALUES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ID</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>PHOTO</td>
                            <td>8850</td>
                        </tr>
                        <tr>
                            <td>NOM DE FAMILLE</td>
                            <td>8850</td>
                        </tr>
                        <tr>
                            <td>PRENOM DE FAMILLE</td>
                            <td>5670</td>
                        </tr>
                        <tr>
                            <td>SEXE</td>
                            <td>4130</td>
                        </tr>
                        <tr>
                            <td>DATE DE NAISSANCE</td>
                            <td>1574</td>
                        </tr>
                        <tr>
                            <td>LIEU DE NAISSANCE</td>
                            <td>1044</td>
                        </tr>
                        <tr>
                            <td>NATIONALITE</td>
                            <td>1044</td>
                        </tr>
                        <tr>
                            <td>DOCUMENT DE VOYAGE</td>
                            <td>1044</td>
                        </tr>
                        <tr>
                            <td>NUMERO DE PASSEPORT</td>
                            <td>1044</td>
                        </tr>
                        <tr>
                            <td>NUMERO DE CIN</td>
                            <td>1044</td>
                        </tr>
                        <tr>
                            <td>SITUATION MARITAL</td>
                            <td>1044</td>
                        </tr>
                        <tr>
                            <td>NUMERO TELEPHONE</td>
                            <td>1044</td>
                        </tr>
                        <tr>
                            <td>ADDRESSE EMAIL</td>
                            <td>1044</td>
                        </tr>
                        <tr>
                            <td>SITUATION FAMILLIALE</td>
                            <td>1044</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn pull-left" data-dismiss="modal">Supprimer</button>
                <button class="btn pull-right" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
