<div class="modal hide nopadding" id="popUpWindow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>DATA</th>
                            <th>VALUES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ID</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>AVEZ VOUS ETE AU MADRASSA ?</td>
                            <td>8850</td>
                        </tr>
                        <tr>
                            <td>JUSQU'A QUELLE CLASSE ?</td>
                            <td>5670</td>
                        </tr>
                        <tr>
                            <td>EST CE VOS ENFANTS FREQUENTENT LE MADRASSA ?</td>
                            <td>4130</td>
                        </tr>
                        <tr>
                            <td>QUELLES SONT VOS FREQUENTATION DE LA MOSQUEE ?</td>
                            <td>1574</td>
                        </tr>
                        <tr>
                            <td>SELON VOUS, A QUELLE FRQUENCE VENEZ VOUS A LA MOSQUEE DANS L'ANNEE ?</td>
                            <td>1044</td>
                        </tr>
                        <tr>
                            <td>QUE PROPOSEZ VOUS POUR AMELIORER LE TABLIGH EN GENERAL ?</td>
                            <td>5670</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn pull-left" data-dismiss="modal">Supprimer</button>
                <button class="btn pull-right" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
