<div class="modal hide" id="popUpWindow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h3>Add a new event</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>DATA</th>
                            <th>VALUES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ID</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>ADDRESSE PERMANANTE</td>
                            <td>8850</td>
                        </tr>
                        <tr>
                            <td>ADDRESSE TEMPORAIRE</td>
                            <td>5670</td>
                        </tr>
                        <tr>
                            <td>MONTANT LOYER</td>
                            <td>4130</td>
                        </tr>
                        <tr>
                            <td>MONTANT SYNDIC</td>
                            <td>1574</td>
                        </tr>
                        <tr>
                            <td>PAYS</td>
                            <td>1044</td>
                        </tr>
                        <tr>
                            <td>PROVINCE</td>
                            <td>1044</td>
                        </tr>
                        <tr>
                            <td>REGION</td>
                            <td>1044</td>
                        </tr>
                        <tr>
                            <td>FOKOTANY</td>
                            <td>1044</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn pull-left" data-dismiss="modal">Supprimer</button>
                <button class="btn pull-right" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
